$textSize: 16px;
$rightMaring: 100px;
$topMargin: 25px;

td {
  font-size: $textSize;
}

p {
  font-size: $textSize;
}

td {
  font-size: $textSize;
}

h1 {
  margin-left: $rightMaring;
}

.taskLink {
  margin-left: $rightMaring;
}

.p {
  font-size: $textSize;
}

body {
  text-align: center;
}

.comment {
  margin-top: $topMargin;
}

.button {
  margin-bottom: 100px;
}
